{% extends 'base.html.twig' %}

{% block container %}
    <div id="fullpage" class="home">
        <div class="section home-1">
            <div class="intro container rounded-img well">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="row">
                        <div class="alert alert-danger" role="alert">
                            {{ flashMessage | trans() }}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-8 text-center col-md-offset-2">
                        <h1>{{ 'cmb.home.h1' | trans }}</h1>

                        <p>{{ 'cmb.home.description' | trans }}</p>

                        <p>{{ 'cmb.home.scroll_to_see_more' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section home-2 ">
            <div class="intro container rounded-img well">
                <div class="row">
                    <div class="col-md-8 text-center col-md-offset-2">
                        <h2>{{ 'cmb.home.h2_one' | trans }}</h2>

                        <p>{{ 'cmb.home.lorem' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                navigation: true
            });
        });
    </script>
{% endblock body_end %}