{% extends 'base.html.twig' %}

{% block container %}
<div class="container">

    <div class="col-sm-8 col-md-offset-2 text-center">
        <h1>{{ 'cmb.profile.h1' | trans }}</h1>
        <p>{{ 'cmb.profile.lorem' | trans }}</p>
        <p>{{ user.username }}</p>
    </div>
    <div class="col-sm-8 col-md-offset-2 text-center">
        <h2>{{ 'cmb.profile.link-summoner' | trans }}</h2>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.region) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
