<tr class="brawl-row-champions">
    <td>
        <div class="{% if row.victor == 'attacker' %}bg-success{% else %}bg-danger{% endif %} img-rounded">
            {% if row.attacker is not null %}
                <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ row.attacker }}.png"
                     class="img-responsive" alt="{{ row.attacker }}">
            {% endif %}
        </div>
    </td>
    <td></td>
    <td>
        <div class="{% if row.victor != 'attacker' %}bg-success{% else %}bg-danger{% endif %} img-rounded">
            {% if row.defender is not null %}
                <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ row.defender }}.png"
                     class="img-responsive" alt="{{ row.defender }}">
            {% endif %}
        </div>
    </td>
</tr>
<tr class="small-row">
    <td class="brawl-row-details" colspan="3">
        <div class="img-rounded">
            <div class="progress huge-text">
                <div class="progress-bar {% if row.victor == 'attacker' %}progress-bar-success{% else %}progress-bar-danger{% endif %}"
                     style="width: {{ (row.attackerMastery / (row.attackerMastery + row.defenderMastery) *100) }}%">
                    {{ row.attacker }}
                </div>
                <div class="progress-bar {% if row.victor != 'attacker' %}progress-bar-success{% else %}progress-bar-danger{% endif %}"
                     style="width: {{ (row.defenderMastery / (row.attackerMastery + row.defenderMastery) *100) }}%">
                    {{ row.defender }}
                </div>
            </div>
        </div>
    </td>
</tr>
<tr class="small-row">
    <td class="brawl-row-details" colspan="3">
        <div class="img-rounded grey">
            <small>{% if row.victor == 'attacker' %}
                    {{ 'cmb.brawl.result.row.won' | trans({'%attacker%': row.attacker, '%defender%': row.defender, '%attackerMastery%': row.attackerMastery, '%defenderMastery%': row.defenderMastery, }) }}
                {% else %}
                    {{ 'cmb.brawl.result.row.lost' | trans({'%attacker%': row.attacker, '%defender%': row.defender, '%attackerMastery%': row.attackerMastery, '%defenderMastery%': row.defenderMastery, }) }}
                {% endif %}</small>
        </div>
    </td>
</tr>