{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>{{ 'cmb.opponents' | trans }}</h1>

                <p>{{ 'cmb.opponents.description' | trans }}</p>
            </div>

            <div class="col-md-8 col-md-offset-2 text-center">
                {{ include('AppBundle:Brawl:filterForm.html.twig', {'form':form}) }}
            </div>

            <div class="col-md-8 col-md-offset-2 text-center table-responsive well">
                <table class="table table-hover">
                    <tr>
                        {# sorting of properties based on query components #}
                        <th class="hidden-xs"></th>
                        <th class="text-center text-success">{{ 'cmb.user.name' | trans }}</th>
                        <th class="text-center text-success">{{ 'cmb.summoner.name' | trans }}</th>
                        <th class="text-center text-success">{{ 'cmb.region' | trans }}</th>
                        {# <th class="text-center">{{ 'cmb.summoner.challenge' | trans }}</th> #]
                    </tr>

                    {# table body #}
                        {% for user in pagination %}
                    <tr class="clickable-row{% if loop.index is odd %} color{% endif %}" data-href="{{ path('app_brawl_challenge', {'id':user.id}) }}">
                        <td class="hidden-xs">
                            <a class="btn btn-success btn-sm" href="{{ path('app_brawl_challenge', {'id':user.id}) }}" role="button">{{ 'cmb.summoner.challenge' | trans }}</a>
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.summoner.name }}</td>
                        <td>{{ user.region }}</td>
                    </tr>
                    {% endfor %}
                </table>

                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock body_end %}
